@using Project.Domain.Models;

<div class="my-component">
    This component is defined in the <strong>AlfaProject.Templates</strong> library.
</div>

@code
{
    [Parameter]
    public ForgotPasswordModel Model { get; set; } = new();
}